body {
  margin: 0;
  size: *;
}

#container {
  size: *;
  margin-left: 39dip;
  margin-right: 39dip;
  padding-top: 20dip;
  margin-bottom: 13dip;
}

.top {
  flow: horizontal;
  border-spacing: *;
}

#minutes {
  width: 100dip;
  height: 20dip;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border-width: 2dip;
  border-color: rgb(188, 195, 206);
  border-radius: 0;
}

#minutes, label {
  width: 50dip;
  height: 28dip;
  font-family: Segoe UI;
  font-size: 16dip;
  color: #3b4351;
  line-height: 24dip;
}

#button {
  style-set: std-button-base;
  color: white;
  background-color: rgb(2, 164, 211);
  cursor: pointer;
  font-family: Segoe UI;
  font-size: 16dip;
  height: 36dip;
  line-height: 36dip;
  width: 51dip;
  text-align: center;
  vertical-align: middle;
  transition: background-color .15s quad-in-out, outline-color .15s quad-in-out;
}

#button:hover, #button:focus {
  background-color: #0290BA;
}

#button:active {
  background-color: #0289B0;
}

#button:active, #button:focus {
  outline-color: #CCEDF6;
  outline-style: solid;
  outline-width: 2dip;
  border-radius: 1dip;
}

.margin-top-25dip {
  margin-top: 25dip;
}

#progress {
  behavior: progress;
  background-color: #EEF0F3;
  foreground-color: #02A4D3;
  width: *;
  height: 16dip;
}

hr {
  border-color: #F1F3F5;
  margin-top: 30dip;
  width: 197dip;
  margin-left: auto;
  margin-right: auto;
}

svg {
  float: right;
  cursor: pointer;
}